<div class="board margin">
    <div>
        <h1>Board</h1>
    </div>

    <div>
        <div class="example-container">
            <p>To do</p>

            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
                [cdkDropListConnectedTo]="[inProgressList,awaitingFeedbackList,doneList]" class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let task of todo; let i = index" class="example-box" cdkDrag>
                    <div class="category">{{ task.category }}</div>
                    <div class="title"> <b> {{ task.title }} </b></div>
                    <div class="description">{{ task.description }}</div>
                    <div class="assignedTo">{{ task.assigned }} <img src="assets/img/prio-urgent-logo.png"></div>
                </div>
            </div>
        </div>

        <div class="example-container">
            <p>In progress</p>

            <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgress"
                [cdkDropListConnectedTo]="[todoList,awaitingFeedbackList,doneList]" class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let task of inProgress; let i = index" class="example-box" cdkDrag>
                 
                </div>
            </div>
        </div>

        <div class="example-container">
            <p>Awaiting Feedback</p>

            <div cdkDropList #awaitingFeedbackList="cdkDropList" [cdkDropListData]="awaitingFeedback"
                [cdkDropListConnectedTo]="[todoList,inProgressList,doneList]" class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of awaitingFeedback" class="example-box" cdkDrag>

                </div>
            </div>
        </div>

        <div class="example-container">
            <p>Done</p>

            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList,inProgressList,awaitingFeedbackList]" class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of done" class="example-box" cdkDrag>
                   
                </div>
            </div>
        </div>
    </div>
</div>