<div class="margin width">
    <div>
        <h1>Add Task</h1>
    </div>
    <form (submit)="addTask()" ngNativeValidate>
        <div class="addTaskContainer">
            <div>
                <div>
                    <div>Title</div>
                    <input [(ngModel)]="task.title" name="title" required type="text" placeholder="Enter a title">
                </div>
                <div>
                    <div>Description</div>
                    <textarea [(ngModel)]="task.description" name="date" placeholder="Enter a description"></textarea>
                </div>
                <div>
                    <div>Category</div>
                    <select [(ngModel)]="task.category" name="category">
                        <option>Marketing</option>
                        <option>Development</option>
                        <option>Design</option>
                    </select>
                </div>
                <div>
                    <div>Assigned to</div>
                    <select [(ngModel)]="task.assigned" name="assigned">
                        <option>Baris</option>
                    </select>
                </div>
            </div>

            <div class="addTaskSecondSection">
                <div>
                    <div>
                        <div>Due date</div>
                        <input [(ngModel)]="task.date" name="date" type="date">
                    </div>
                    <div style="width: 280px;">
                        <div>Prio</div>
                        <div style="display: flex;"><!--NACHFRAGRN NGMODELL-->
                            <button class="prio" >
                                Urgent <img src="assets/img/prio-urgent-logo.png">
                            </button>
                            <button class="prio prioMargin" >
                                Medium<img src="assets/img/prio-medium-logo.png">
                            </button>
                            <button class="prio prioMargin" >
                                Low<img src="assets/img/prio-low-logo.png">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="addTaskBtn">
            <button class="taskBtn">
                <p> Clear</p>
                <img src="assets/img/cancel.png">
            </button>
            <button type="submit" class="taskBtn createTaskBtn">
                <p>Create Task </p>
                <img src="assets/img/create.png">
            </button>
        </div>
    </form>
</div>